.vscode/
__pycache__/

# binary files
test_time
sampler2file
test_acc
*.o
*.out

# output files
sampler_*_*.txt

# assembly files
*.s

# figs
gprof_figs/*
!gprof_figs/sampler_1.eps
!gprof_figs/sampler_2.eps
!gprof_figs/sampler_3.eps
!gprof_figs/sampler_4.eps

# doc
doc/*
!doc/Sampler.tex
!doc/Constant-Time_Discrete_Gaussian_Sampling.pdf
!doc/Gaussian_Sampling_over_the_Integers_Efficient_Generic_Constant-Time.pdf
!doc/Pushing_the_speed_limit_of_constant-time_discrete_Gaussian_sampling_-_A_case_study_on_the_Falcon_signature_scheme.pdf
!doc/赛题二(整数高斯采样算法).pdf